.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;

  .title {
    width: 107px;
    height: 27px;
    left: 136px;
    top: 99px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
  }

  .button {
    border: 1px solid #676767;
    background: #14B8A6;
    box-shadow: 0 4px 18px rgb(15, 118, 110), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
  }
}
